extends layout 

block content 
  form(method="POST" action=action)
    label Enter Username:
    input(type="text" name="username") 
    br
    label Enter Password:
    if error 
      p= error
    input(type="password" name="password")
    input(type="submit" value="Submit")