extends layout 

block content 
  if error 
    p= error
  form(method="POST" action=action)
    label Enter Username:
    input(type="text" name="username") 
    br
    label Enter Password:
    input(type="password" name="password")
    input(type="submit" value="Submit")